<main>
  <div class="session-page">
    <div class="session-title mb-5">
      <span class="align-middle">　パスワードを忘れてしまった方へ　</span>
    </div>
    <div class="container">
      <div class="reset-password-introduce">
        <p>ご登録されているメールアドレスにパスワード再設定の案内を送りますので、下記のフォームに入力しボタンを押してください。</p>
      </div><br>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "corps/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレス" %>
        </div>

        <div class="actions mb-5">
          <%= f.submit "　登録アドレスにパスワード再設定の案内を送る　", class: "btn btn-outline-info w-100" %>
        </div>
      <% end %>

      <%= render "corps/shared/links" %>
    </div>
  </div>
</main>