<% posts.each do |post| %>
  <div class="post-style mb-4 clearfix">
    <div class="post-article-width">
      <div class="post-title">
        <i class="fas fa-sticky-note mr-2"></i><%= post.title %>
        <div class="post-edit">
          <%= link_to edit_post_path(post.id) do %><i class="fas fa-cog"></i><% end %>
          <%= link_to post_path(post.id), method: :delete,  data: {confirm: "このポストを削除してよろしいですか？"} do %><i class="fas fa-trash"></i><% end %>
        </div>
      </div>
      <div class="post-contents mt-1">
        <%= post.contents %><br>
      </div>
      <div class="post-image mt-1">
        <%= attachment_image_tag(post, :post_image, class: "post-image") %>
      </div>
      <div class="post-info">
        [<%= post.category %>]
        [<%= l post.created_at, format: :short %>]
      </div>
    </div>
  </div>
<% end %>

<%= paginate @posts %>
