<div class="user-about-page">
  <div class="menu-head">
    <%= image_tag 'menu_head.gif', class: 'menu-head-img' %>
    <p>「Suggestool」のつかい方 ( Sales編 )</p>
  </div>
  <div class="submenu-head">
    <%= image_tag 'submenu_head.gif', class: "submenu-head-img" %>
    <p>◆ はじめてご利用の方へ</p>
  </div>
    <p>　Suggestoolはセールスマンと企業を結びつけるサービスです。
    このサービスを介して企業担当者の方は興味のあるサービスや製品を取り扱われている営業職の方とコミュニケーションを取ることを可能にします。
    利用ユーザーはセールス側（以降Sales）と企業側（以降Corps）に分かれております。</p>
  <div class="submenu-head">
    <%= image_tag 'submenu_head.gif', class: "submenu-head-img" %>
    <p>◆ サービスの仕様について</p>
  </div>
    <p>　このサービスではSalesからCorpsにコンタクトを取ることができない仕様となっております。
    Corps とやりとりを行うには、先ず興味を持ったCorpsがSalesに対してフォローを行う必要があります。</p>
  <div class="submenu-head">
    <%= image_tag 'submenu_head.gif', class: "submenu-head-img" %>
    <p>◆ プロフィールページを作成しましょう</p>
  </div>
    <p>　上記の仕様のため、Salesの方にはまず初めにCorpsが興味を抱かれるような<br>
    <%= link_to ">>プロフィールページ", root_path %> の作成を推奨しております。</p>
</div>