<main>
  <div class="user-index-page">
    <span class="page-title">　興味のあるセールスを探す　</span>
      <%= render 'search_form', url: users_path, q: @q %>
    <div class="contents">
      <table class="table table-hover sales-index-table">
        <thead>
          <th width="200px">名前</th>
          <th witdh="240px">会社名</th>
          <th witdh="240px">担当エリア</th>
          <th width="120px">フォロー</th>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td class="align-middle sales-index-name">
              <%= link_to user_path(user.id) do %>
                <%= attachment_image_tag user, :profile_image, size: "40x40", format: 'png', fallback: "no_image.png", size: "40x40", class: "profile-image" %>
                <p><%= user.last_name + " " + user.first_name %></p>
              <% end %>
            </td>
            <td class="align-middle"><%= user.company %></td>
            <td class="align-middle"><%= user.area %></td>
            <td class="align-middle">
            <!--if文 exsists?でフォロー/解除の表示を切り替えする-->
            <%= render 'relationships/fav', user: user %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @users %>
    </div>
  </div>
</main>