<main>
  <div class="corp-edit-page">
    <div class="menu-head">
      <%= image_tag 'menu_head2.gif', class: 'menu-head-img' %>
      <p>　登録情報編集 </p>
    </div>
    <div class="container">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|  %>
      <%= render "corps/shared/error_messages", resource: resource %>
        <div class="field row">
          <div class="col-6">
            <%= f.label :last_name, "姓" %><br />
            <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
          </div>
          <div class="col-6">
            <%= f.label :first_name, "名" %><br />
            <%= f.text_field :first_name, class: "form-control" %>
          </div>
        </div>
        <div class="field row">
          <div class="col-12">
            <%= f.label :profile_image, "プロフィール画像" %>
            <%= attachment_image_tag @corp, :profile_image, :fill, 60, 60 %>
            <%= f.attachment_field :profile_image, placeholder: "プロフィール画像",class: "form-control-file" %>
          </div>
        </div>
        <div class="field row">
          <div class="col-12">
            <%= f.label :email, "メールアドレス" %><br />
            <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
          </div>
        </div>
        <div class="field row">
          <div class="col-6">
            <%= f.label :hospital, "医療機関名" %><br />
            <%= f.text_field :hospital, class: "form-control" %>
          </div>
          <div class="col-6">
            <%= f.label :area, "医療機関所在地" %><br />
            <%= f.select :area, Corp.areas.keys, {}, class: "form-control" %>
          </div>
        </div>
        <div class="field row">
          <div class="col-12">
            <%= f.label :introduction, "ひとこと自己紹介" %><br />
            <%= f.text_field :introduction, class: "form-control" %>
          </div>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field row">
          <div class="col-12">
            <%= f.label :password, "パスワード" %> <i>(変更されない場合は空欄にしてください。)</i><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "６文字以上の英数字" %>
          </div>
        </div>
        <div class="field row">
          <div class="col-12">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "確認のため再度ご入力ください。" %>
          </div>
        </div>
        <div class="field row">
          <div class="col-12 confirm-password">
            <%= f.label :current_password,"現在のパスワード" %><span>必須</span>
            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "ご本人確認のためご入力ください。" %>
          </div>
        </div>

        <div class="actions row">
          <div class="col-6">
            <%= f.submit "更新する", class: "btn btn-outline-primary w-100" %>
          </div>
          <div class="col-6">
            <%= link_to "前の画面に戻る", corp_mypage_path, class: "btn btn-outline-success w-100" %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</main>