<main>
    <div class="session-page">
    <div class="session-title mb-3">
      <span class="align-middle">　<i class="fas fa-user-md"></i>　新規登録　( ドクター )</span>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "corps/shared/error_messages", resource: resource %>
      <div class="container">
        <div class="field">
          <div class="row">
            <div class="col-6">
              <%= f.label :last_name, "姓" %>
              <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: "山田" %>
            </div>
            <div class="col-6">
              <%= f.label :first_name, "名" %>
              <%= f.text_field :first_name, class: "form-control", placeholder: "太郎" %>
            </div>
          </div>
        </div>
        <div class="field">
            <%= f.label :hospital, "医療機関名" %>
            <%= f.text_field :hospital, class: "form-control", placeholder: "例）山田医院" %>
        </div>
        <div class="field row">
          <div class="col-12">
            <%= f.label :area, "医療機関所在地" %><br />
            <%= f.select :area, Corp.areas.keys, {}, class: "form-control" %>
          </div>
        </div>
        <div class="field">
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "ＰＣ・携帯どちらでも可" %>
        </div>
        <div class="field">
          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "６文字以上の半角英数字" %>
        </div>
        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "確認のため再度入力"  %>
        </div>
        <div class="actions">
          <div class="row">
            <%= f.submit "新規登録",class: "btn btn-lg btn-outline-info w-100", id: "to_submit" %>
          </div>
        </div>
      <% end %>
      <br>
      <%= render "corps/shared/links" %>
    </div>
  </div>
</main>