<div class="corp-about-page">
  <div class="menu-head">
    <%= image_tag 'menu_head2.gif', class: 'menu-head-img' %>
    <p>「Suggestool」のつかい方 ( Corps編 )</p>
  </div>
  <div class="submenu-head">
    <%= image_tag 'submenu_head.gif', class: "submenu-head-img" %>
    <p>◆ はじめてご利用の方へ</p>
  </div>
    <p>　Suggestoolはセールスマンと企業を結びつけるサービスです。
    このサービスを介して企業担当者の方は興味のあるサービスや製品を取り扱われている営業職の方とコミュニケーションを取ることを可能にします。
    利用ユーザーはセールス側（以降Sales）と企業側（以降Corps）に分かれております。</p>
  <div class="submenu-head">
    <%= image_tag 'submenu_head.gif', class: "submenu-head-img" %>
    <p>◆ サービスの仕様について</p>
  </div>
    <p>　このサービスではSalesからCorpsにコンタクトを取ることができない仕様となっております。
    まずはご興味のあるSalesユーザーをご自身で探していただき、フォローを行なっていただく必要がございます。
    フォローを行なっていただくとメニューの「Follow」ページから、ご自身がフォローされているSalesユーザーの一覧が確認でき、
    ダイレクトでメッセージを送ることができるチャットルームへのリンクが表示されます。</p>
  <div class="submenu-head">
    <%= image_tag 'submenu_head.gif', class: "submenu-head-img" %>
    <p>◆ プロフィールページを作成しましょう</p>
  </div>
    <p>　フォローいただいたSalesユーザーの方がどのような企業からコンタクトを受けたのか把握していただくため、
    Corpsユーザー様にも<%= link_to ">>プロフィールページ", root_path %> の作成をお願いしております。</p>
</div>