<main>
  <div class="profile">
    <div class="name-and-image">
      <%= attachment_image_tag @corp, :profile_image, size: "100x100", format: 'png', fallback: "no_image.png", size: "100x100", class: "prof-image" %>
      <p><%= @corp.name %></p>
      <div class="setting-link">
        <% if @corp.id == current_corp.id %>
          <%= link_to edit_corp_registration_path do %><i class="fas fa-cog"></i><% end %>
        <% end %>
      </div>
    </div>
    <div class="comment">
      <div class="balloon">
        <p>　<%= @corp.introduction %>　</p>
      </div>
    </div>
    <%= link_to "　メッセージを送信する　", root_path, class: "btn btn-outline-success rounded-pill" %>
    <div class="first-day">
      <br>
      <i class="far fa-calendar-alt"> <%= l @corp.created_at, format: :first %> からSUGGESTooLを利用しています</i>
    </div>
  </div>
</main>