<tr id="message_row_<%= message.id %>">
  <!--ユーザープロフィール画像-->
  <td width="5%">
    <div class="messenger-image">
      <%= attachment_image_tag @messenger, :profile_image, size: "40x40", format: 'png', fallback: "no_image.png", size: "40x40", class: "prof-image" %>
    </div>
  </td>
  <!--メッセージ本文-->
  <td width="85%">
    <div class="message-text">
      <% if message.corp_id == nil %>
        <div class="fukidashi">
          <%= message.message %>
        </div>
      <% else %>
        <div class="fukidashi2">
          <%= message.message %>
        </div>
      <% end %>
    </div>
  </td>
  <!--削除ボタンと備考-->
  <td width="10%">
    <div class="messenger-name text-center">
      <% if corp_signed_in? && message.corp_id != nil %>
        <p><%= link_to message_path(message.id), data: { confirm: "このメッセージを削除してよろしいですか？" }, method: :delete, remote: true do %><i class="fas fa-trash-alt"></i><% end %></p>
      <% elsif user_signed_in? && message.user_id != nil %>
        <p><%= link_to message_path(message.id), data: { confirm: "このメッセージを削除してよろしいですか？" }, method: :delete, remote: true do %><i class="fas fa-trash-alt"></i><% end %></p>
      <% end %>
      <p>[<%= l message.created_at, format: :short %>]</p>
    </div>
  </td>
</tr>