<main>
  <div class="chat-room-page">
    <span class="chat-page-title">　トークルーム　</span>
    <div class="talkroom-user">
      member : [
      <%= link_to user_path(@user.id) do %><%= @user.last_name + " " + @user.first_name %><% end %> /
      <%= link_to corp_path(@corp.id) do %><%= @corp.name %><% end %> ]
    </div>
    <div class="chat-paginate">
      <%= paginate @messages %>
    </div>
      <%= form_with model: @message, url: messages_path, local: true do |f| %>
        <%= f.text_field :message, class: "message-form", placeholder: "ここにメッセージを入力してください" %>
      <!--hidden-->
        <%= f.hidden_field :room_id, value: params[:id] %>
          <% if user_signed_in? %>
            <%= f.hidden_field :user_id, value: current_user.id %>
          <% elsif corp_signed_in? %>
            <%= f.hidden_field :corp_id, value: current_corp.id %>
          <% end %>
        <%= f.submit "　送信　", class: "btn btn-sm btn-success submit-form" %>
      <% end %>
    <table class="table message-table">
      <tbody>
        <% @messages.each do |message| %>
        <tr>
          <td>
            <%= message.message %>
            <div class="user-name">
              <% if message.corp_id.nil? %>
                <span class="sales-name">
                  <%= message.user.last_name + message.user.first_name %>
                  [<%= l message.created_at, format: :short %>]
                </span>
              <% else %>
                <span class="doctor-name">
                  <%= message.corp.name %>
                  [<%= l message.created_at, format: :short %>]
                </span>
              <% end %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</main>