<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<html>
  <head>
    <title>SUGGESTooL</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/0b72d9d640.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%= render "layouts/flash" %>
    <div class="headers">
      <div class="first-header">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #008080;">
          <%= link_to "SUGGESTooL", root_path, class: "title-logo" %>
          <div class="current-page-inform ml-auto">
            <%= link_to new_corp_session_path, class: "btn btn-info", id: "doctor-btn"  do %><i class="fas fa-stethoscope"></i><% end %>
            <%= link_to new_user_session_path, class: "btn btn-info", id: "sales-btn" do %><i class="fas fa-user-tie"></i><% end %>
          </div>
        </nav>
      </div>
      <div class="second-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light second-navbar">
          <div class="container-fluid">
            <div class="login-message">
              <%= render "layouts/navbar_message" %>
            </div>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
              <ul class="navbar-nav" id="navigation">
                <% if user_signed_in? %>
                  <li class="nav-item">
                    <%= link_to user_mypage_path, class: "nav-link", id: "to_mypage" do %>
                      <i class="fas fa-user"> マイページ</i>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to notifications_path, class: "nav-link", id: "to_notifications" do %>
                      <% if unchecked_notifications.any? %>
                        <font color="red"><i class="fas fa-exclamation-circle"> 通知</i></font>
                      <% else %>
                        <i class="fas fa-circle"> 通知</i>
                      <% end %>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to user_followers_path, class: "nav-link", id: "to_followers" do %>
                      <i class="fas fa-users"> フォロワー</i>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to destroy_user_session_path, method: :delete, class: "nav-link", id: "to_logout", data: {confirm: "ログアウトしてよろしいですか？"} do %>
                      <i class="fas fa-sign-out-alt"> ログアウト</i>
                    <% end %>
                  </li>
                  <span id="slide-line"></span>
                <% elsif corp_signed_in? %>
                  <li class="nav-item">
                    <%= link_to corp_mypage_path, class: "nav-link", id: "to_mypage" do %>
                      <i class="fas fa-user"> マイページ</i>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to notifications_path, class: "nav-link", id: "to_notifications" do %>
                      <% if corp_unchecked_notifications.any? %>
                        <font color="red"><i class="fas fa-exclamation-circle"> 通知</i></font>
                      <% else %>
                        <i class="fas fa-circle"> 通知</i>
                      <% end %>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to corp_search_path, class: "nav-link", id: "to_search" do %>
                      <i class="fas fa-users"> セールスを探す</i>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to follows_path, class: "nav-link", id: "to_follows" do %>
                      <i class="fas fa-user-tag"> フォロー</i>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to destroy_corp_session_path, method: :delete, class: "nav-link",
                    id: "to_logout", data: {confirm: "ログアウトしてよろしいですか？"} do %>
                      <i class="fas fa-sign-out-alt"> ログアウト</i>
                    <% end %>
                  </li>
                  <span id="slide-line"></span>
                <% else %>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-question-circle"> ヘルプ</i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/corp/about">ドクター</a>
                      <a class="dropdown-item" href="/user/about">セールス</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-sign-in-alt"> ログイン</i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/corps/sign_in">ドクター</a>
                      <a class="dropdown-item" href="/users/sign_in">セールス</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-address-card"> 新規登録</i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/corps/sign_up">ドクター</a>
                      <a class="dropdown-item" href="/users/sign_up">セールス</a>
                    </div>
                  </li>
                  <span id="slide-line"></span>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!--nav pulltabの切替のためのscript-->
    <% if user_signed_in? %>
      <script>
        $(document).on('turbolinks:load', function(){
          $("#sales-btn").css({
            "background-color": "#F8A055",
            "border-color": "#FFA07A"
          });
        });
      </script>
    <% elsif corp_signed_in? %>
      <script>
        $(document).on('turbolinks:load', function(){
          $("#doctor-btn").css({
            "background-color": "#F8A055",
            "border-color": "#FFA07A"
          });
        });
      </script>
    <% end %>
    <%= yield %>
  </body>
</html>
