<main>
  <div class="session-page">
  <div class="session-title mb-4">
    <span class="align-middle">　 <i class="fas fa-user-tie"></i>　新規登録  （ セールス ）</span>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
    <div class="container">
      <div class="field row flex-row">
        <div class="col-6">
        <%= f.label :last_name, "姓" %>
        <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: "例）堤田" %>
        </div>
        <div class="col-6">
          <%= f.label :first_name, "名" %>
          <%= f.text_field :first_name, class: "form-control", placeholder: "例）太郎" %>
        </div>
      </div>
      <div class="field row">
        <div class="col-12">
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "ＰＣ・携帯どちらでも可"  %>
        </div>
      </div>
      <div class="field row">
        <div class="col-12">
          <%= f.label :company, "所属会社名" %>
          <%= f.text_field :company, class: "form-control", placeholder: "例）SUGGESTooL株式会社"  %>
        </div>
      </div>
      <div class="field row">
        <div class="col-12">
          <%= f.label :area, "担当エリア" %>
          <%= f.select :area, User.areas.keys, {}, class: "form-control" %>
        </div>
      </div>
      <div class="field row">
        <div class="col-12">
          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "６文字以上の半角英数字"  %>
        </div>
      </div>
      <div class="field row">
        <div class="col-12">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "確認のため再度入力" %>
        </div>
      </div>
      <div class="actions row mb-3">
          <%= f.submit "新規登録",class: "btn btn-outline-info w-100" %>
      </div>
      <%= render "users/shared/links" %>
    <% end %>
    </div>
  </div>
</main>